body {
    margin:0;
    display: flex;
justify-content: center;
align-items: center;
background-color: lightseagreen;
height: 100vh;
}
h1 {
    color:seagreen;
    margin:0;
    font: 3rem sans-serif;
}